<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>store kiosk</title>
    <script src="/index.js" charset="utf-8" defer></script>
    <script src="/product.js" charset="utf-8" defer></script>
    <script src="/receiptItem.js" charset="utf-8" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{{body}}}
</body>
</html>