<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>store kiosk</title>
    <script src="index.js" charset="utf-8" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.runtime.js" charset="utf-8" defer></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    {{{body}}}
</body>
</html>