<div class="home-container">
    <h1 class="home-title">Welcome</h1>
    <div id="home-img-id"> 
    <img src="https://img.freepik.com/premium-photo/cute-colorful-shopping-cart-clipart-your-projects-presentations_983420-28273.jpg" class="home-img" alt="Shopping Cart Logo">
    </div>
    <p>Click to Start</p>
    
</div>