@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeueBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    background-color: #003135;
}

.header-image {
    width: auto;
    height: 65%;
}

.header-image img {
    height: 100%;
    width: auto;
    display: block;
}

.site-title {
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
}

.content {
    display: flex;
    height: 90vh;
}

.receipt-container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100%;
    background-color: #fff;
    padding: 1rem 1rem 2rem;
    border-right: 2px solid #ccc;
}

.receipt-items-container {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    scrollbar-width: thin;
    scrollbar-color: #ccc #fff;
}

.receipt-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receipt-item-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.receipt-total {
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: #f9f9f9;
}

.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;
}

.receipt-button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pay-button {
    background-color: #28a745;
}

#pay-cancel-button {
    background-color: #dc3545;
}

#pay-button:hover {
    background-color: #218838;
}

#pay-cancel-button:hover {
    background-color: #c82333;
}

.receipt-items-container::-webkit-scrollbar {
    width: 8px;
}

.receipt-items-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.receipt-items-container::-webkit-scrollbar-track {
    background-color: #fff;
}

.browsing-container {
    display: flex;
    flex-direction: column;
    width: 75vw;
    padding: 1rem;
    background-color: #fff;
    overflow-y: auto;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 1rem;
}

.filter-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-input-label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}

.filter-input-element select {
    width: 15rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 0.9rem;
}

.name-filter {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.name-filter input[type="text"] {
    width: 100%;
    padding: 0.5rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: #f9f9f9;
}

.name-filter .search-icon {
    position: absolute;
    top: 70%;
    left: 0.75rem;
    transform: translateY(-50%);
    height: 1rem;
    width: 1rem;
}

.name-filter .search-icon img {
    width: 100%;
    height: 100%;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    overflow-y: auto;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.product-image-container img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    background-color: #ffd700;
}

.product-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.product-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.8rem;
    color: #555;
}

.product-add-button-container {
    width: 25px;
    height: 25px;
}

.product-add-button-container {
    width: 25px;
    height: 25px;
}

.product-add-button-container:hover {
    cursor: pointer;
}

.product-add-button-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-add-button-container:hover {
    cursor: pointer;
}

.product-add-button-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* home.html */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-title {
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
}

.home-img {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.home-img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.home-img:active {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.click-to-start {
    font-size: 1.5rem;
    color: #555;
}

#popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    display: none;
}

#popup-backdrop.hidden {
    display: none;
}

#popup-backdrop:not(.hidden) {
    display: block;
}

#payment-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1100;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    text-align: center;
    display: none;
}

#payment-popup.hidden {
    display: none;
}

#payment-popup:not(.hidden) {
    display: block;
}

#payment-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 1rem;
}

#payment-popup-title {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}

#payment-cancel-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

#payment-cancel-button:hover {
    background-color: #c82333;
}

.payment-option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.payment-option:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.payment-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.payment-button:hover {
    background-color: #0056b3;
}

.payment-option-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#complete-trans-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1100;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    text-align: center;
    display: none;
}

#complete-trans-popup.hidden {
    display: none;
}

#complete-trans-popup:not(.hidden) {
    display: block;
}

#complete-trans-popup-header {
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 1rem;
}

#complete-trans-title {
    font-size: 1.5rem;
    color: #333;
}

#complete-trans-ok-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.2s;
}

#complete-trans-ok-button:hover {
    background-color: #218838;
}


/*Mouseover functionality?*/
.product-image-container {
    position: relative;
    display: block;
    transition: opacity 0.5s ease; /* Smooth transition */

}


.product-image-container img.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.4s ease; /* Smooth transition */
}

.product-image-container:hover img.default-image {
    opacity: 0; /* Hide the default image on hover */
}

.product-image-container:hover img.hover-image {
    opacity: 1; /* Show the hover image on hover */
}